@*
    Define the title for the layout to display the title for individual pages
*@
@{
    ViewData["Title"] = "Mission 5 Assignment";
}

<h1 class="center">Dallas Campbell</h1>
<img class="center" src="IMG/IMG_6865.jpg" />

<br />

<p>
    I look forward to learning about Client- and server-side programming, internet and Web-based applications,
    enterprise systems and architectures using ASP.NET MVC Core / C# with React in this class :)
</p>

<h1>Top 3 jobs I'm looking for after I graduate:</h1>
<ol>
    <li>Data Scientist</li>
    <li>Business Analyst</li>
    <li>Tech Product Manager</li>
</ol>