<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!--The first image is for the icon image-->
    <link rel="icon" type="image/x-icon" href="~/img/download.jfif">
    <!--Bring in the css and bootstrap for all pages-->
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/BootStrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a asp-controller="Blah" asp-action="GradeCalculation">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <!--Bring in jquery and js for all pages-->
    <script src="~/lib/BootStrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="~/js/site.js"></script>

</body>

</html>
